.container_BUNNY {
    border: 5px groove rgb(0, 0, 0);

    height: 20vh;
    width: 40vw;
}
.child_BUNNY {
    
    border: 5px inset black;
    height: 20vh;
    width: 40vw;



    transition: .3s;
    color: rgba(255, 255, 255, 0);
}
.child_BUNNY:hover {
    border: 2px inset black;
   
    background: url(/bunny_page/img/_8_agosto.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
    font-size: 250%;
    font-weight: 800;
    text-shadow: 4px 4px 3px black;
    color: rgb(255, 0, 0);

    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media screen and (max-width: 1070px) {
    .container_BUNNY {
        border: 5px groove rgb(0, 0, 0);
    
        height: 20vh;
        width: 70vw;
    }
    
    .child_BUNNY {
        border: 2px inset black;
   
        background: url(/beelce_page/beelce_imgs/_11_MrBeelce.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        min-width: 70vw;
       
        font-size: 350%;
        font-weight: 500;
        text-shadow: 4px 4px 3px black;
        color: rgb(255, 0, 0);
    
        font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }


    .child_BUNNY:hover {
        border: 2px inset black;
       
        background: url(/bunny_page/img/_4_abril.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
       
        font-size: 350%;
        font-weight: 500;
        text-shadow: 4px 4px 3px black;
        color: rgb(255, 0, 0);
    
        font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}

@media screen and (max-width: 690px){
    .child_BUNNY {
        font-size: 200%;
    }
    .child_BUNNY:hover{
        font-size: 200%;
    }
}